.leaflet-container {
  width: 350px;
  height: 300px;
  overflow: hidden;
}
.leaflet-tile leaflet-tile-loaded{
  width: 100px;
  transform: none;
}
.leaflet-control-attribution, leaflet-control{
  display: none;
}
@media(max-width: 1024px){
  .leaflet-container {
    width: 320px;
    height: 290px;
  }
}
@media(max-width: 950px){
  .leaflet-container {
    width: 300px;
    height: 290px;
  }
}

@media(max-width: 856px){
  .leaflet-container {
    width: 250px;
    height: 250px;
  }
}
@media(max-width: 800px){
  .leaflet-container {
    width: 300px;
    height: 250px;
  }
}