.loginSignUp{
  width: 100%;
  height: 100vh;
  background-color: #fce3fe;
  padding-top: 50px;
}
.loginSingUp-container{
  width: 550px;
  height: 550px;
  background: white;
  margin: 0 auto;
  padding: 40px 60px;
}
.loginSingUp-container h1{
  margin: 20px 0px;
}
.loginSignUp-fields{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}
.loginSignUp-fields input{
  height: 50px;
  width: 100%;
  padding-left: 20px; 
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}
.loginSingUp-container button{
  width: 100%;
  height: 52px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.loginSignUp-login{
  margin-top: 10px;
  color: #5c5c5c;
  font-size: 17px;
  font-weight: 500;
}
.loginSignUp-login span{
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}
.loginSignUp-agree{
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 17px;
  font-weight: 500;
}

@media(max-width: 1280px){
  .loginSignUp{
    padding-top: 50px;
  }
  .loginSingUp-container{
    width: auto;
    max-width: 500px;
    height: 500px;
  }
  .loginSingUp-container h1{
    margin: 10px 0px;
  }
  .loginSignUp-fields{
    gap: 20px;
    margin-top: 20px;
  }
  .loginSignUp-fields input{
    height: 55px;
    width: 100%;
  }
  .loginSignUp-login{
    font-size: 15px;
  }
  .loginSignUp-agree{
    font-size: 12px;
    gap: 10px;
  }
}
@media(max-width: 800px){
  .loginSingUp-container{
    padding: 20px 30px;
  }
  .loginSingUp-container h1{
    font-size: 24px;
  }
  .loginSignUp-fields{
    margin-top: 20px;
  }
  .loginSignUp-fields input{
    height: 45px;
  }
  .loginSingUp-container button{
    height: 45px;
    font-size: 16px;
  }
}
