.cardItems{
  margin: 10px 170px;
}
.cardItems hr{
  height: 3px;
  border: 0;
  background: #e2e2e2;
}
.cardItems-format-main{
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 55px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cardItems-format{
  font-size: 16px;
  text-align: left;
}
.cardicon-product-icon{
  height: 62px;
}
.cardItems-remove-icon{
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.cardItems-quantity{
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background-color: #fff;
}
.cardItems-down{
  display: flex;
  margin: 100px 0px;
}
.cardItems-total{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.cardItems-total-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}
.cardItems-total button{
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.cardItems-promocode{
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}
.cardItems-promocode p{
  color: #555;
}
.cardItems-promoBox{
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.cardItems-promoBox input{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}
.promoErr{
  font-size: 13px;
  position: absolute;
}
.cardItems-promoBox button{
  width: 154px;
  height: 58px;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 50px;
}

.modalPayments{
  width: 60%;
  height: 700px;
  background-color: #ff5a5a;
  position: fixed;
  margin: 0 auto;
  top: 150px;
  left: 370px;
  padding: 50px;
  transition: 0.5s;
  overflow: auto;
  border-radius: 10px;
  /* backdrop-filter: blur(20px); */
}
.mapPayment h2{
  color: white;
}
.noneModal{
  display: none;
}
.modalHeader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 10px 20px;
}
.modalHeader h1{
  color: White;
}
.modalHeader button{
  width: 35px;
  height: 35px;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
  color: #ff5a5a;
  border: none;
  border-radius: 20px;
}
.modalBody{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.inputPayment{
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.inputPayment input{
  padding: 5px 15px;
  font-size: 16px;
}
.inputPayment .button{
  font-size: 18px;
  padding: 8px 0px;
  background-color: white;
  border: none;
  color: #ff5a5a;
  border-radius: 10px;
  cursor: pointer;
}
.mapPayment{
  overflow: hidden;
}

@media(max-width: 1280px){
  .cardItems{
    margin: 60px 50px;
  }
  .cardItems-format-main{
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 20px;
    padding: 15px 0px;
    font-size: 15px;
  }
  .cardicon-product-icon{
    height: 50px;
  }
  .cardItems-remove-icon{
    margin: auto;
  }
  .cardItems-quantity{
    width: 40px;
    height: 30px;
  }
  .cardItems-down{
    margin: 80px 0px;
    flex-direction: column;
    gap: 80px;
  }
  .cardItems-total{
    margin: 0;
  }
  .cardItems-total button{
    max-width: 200px;
    height: 45px;
    font-size: 13px;
  }
  .cardItems-promoBox{
    width: auto;
    max-width: 500px;
  }
  .cardItems-promoBox input{
    width: 100%;
  }
  .cardItems-promoBox button{
    width: 120px;
    margin-left: -120px;
  }
}

@media(max-width: 1070px){
  .inputPayment{
    width: 38%;
  }
}
@media(max-width: 1024px){
  .inputPayment{
    width: 35%;
  }
  .modalHeader{
   margin-top: 10px; 
  }
}

@media(max-width: 850px){
  .modalPayments{
    width: 80%;
    height: 580px;
    left: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 80px;
  }
  .modalBody{
    height: auto;
    flex-direction: column;
    row-gap: 20px;
  }
  .inputPayment{
    width: 80%;
  }
}

@media(max-width: 680px){
  .modalPayments{
    width: 80%;
    height: 580px;
    left: 50px;
    overflow-y: scroll;
    top: 80px;
  }
  .modalHeader {
    margin-top: 50px;
  }
  .modalBody{
    flex-direction: column;
  }
  .inputPayment{
    width: 80%;
  }
}
@media(max-width: 600px){
  .modalPayments{
    width: 80%;
    height: 480px;
    padding: 20px 0px;
    left: 60px;
    top: 93px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .modalHeader{
    margin-top: 150px;
  }
  .modalHeader h1{
    font-size: 20px;
  }
  .inputPayment{
    width: 80%;
  }
}

@media(max-width: 500px){
  .cardItems-format-main{
    display: none;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    gap: 10px;
  }
  .cardItems-format{
    display: grid;
  }
  .modalPayments{
    width: 80%;
    height: 480px;
    padding: 20px 40px;
    left: 60px;
    top: 103px;
    overflow: scroll;
  }
  .modalHeader{
    margin-top: 180px;
    padding: 10px;
  }
  .modalHeader h1{
    font-size: 18px;
  }
  .inputPayment{
    width: 80%;
  }
}